body{
  background-size: auto;
  min-height: 100%;
}

#keyDiv {
  height: 400px;
  width: 550px;
  position: relative;
  background-size: contain;
  background: url(./media/images/sizedown.png) no-repeat 0 0);
  background-color: #207D46;
}

ul {
  list-style-type: none;
  height: 225px;
  width: 230px;
  position: relative;
  left: 30%;
}

li {
  background: url(/media/images/keysTransparent.png) no-repeat 0 0;
  background-size: contain;
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
}


.activated
{
  background-color: red;
}

#startButton {
  position: relative;
  background: url(./media/images/redButton.png) auto 0 0;
  background-color: red;
  width: 100px;
  height: 50px;
  left: 40%;
}
